@model TheFitnessApp.Models.Exercise

@{
    Layout = "_FullscreenModalLayout";
    ViewData["Title"] = "Create Exercise";
}

<div class="text-center text-white rounded-3 mb-4 p-3"
  style="background: linear-gradient(135deg,#7b61ff,#157432);">
  <h2>Create Exercise</h2>
</div>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="SessionID" />
    <input type="hidden" asp-for="ExerciseID" />

    <div class="form-group mb-3">
        <label asp-for="Type"></label>
        <select asp-for="Type" 
            asp-items="Html.GetEnumSelectList<ExerciseType>()"
            class="form-select" required>
            <option value="">-- Select Exercise Type --</option>
        </select>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Category"></label>
        <input asp-for="Category" type="text" 
            class="form-control" required />
    </div>

    <div class="d-flex justify-content-between mb-3 gap-1">
        <div class="form-group col-sm-4">
            <label asp-for="Sets"></label>
            <input asp-for="Sets" type="number"
                class="form-control" required />
        </div>

        <div class="form-group col-sm-4">
            <label asp-for="Reps"></label>
            <input asp-for="Reps" type="number"
                class="form-control" required />
        </div>
 
       <div class="form-group col-sm-4">
            <label asp-for="METValue"></label>
            <input asp-for="METValue" class="form-control" required />
        </div>
    </div>

    <div class="d-flex justify-content-between mb-3 gap-1">
        <div class="form-group col-sm-6">
            <label asp-for="CaloriesBurnt"></label>
            <input asp-for="CaloriesBurnt" type="number" 
                class="form-control" required />
        </div>

        <div class="form-group col-sm-6">
            <label asp-for="WeightKG"></label>
            <input asp-for="WeightKG" type="number" 
                class="form-control" required />
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <button type="submit" 
            class="btn btn-primary px-4 rounded-pill">
            Add Exercise
        </button>

        <a asp-action="Index" 
            class="btn btn-secondary px-4 rounded-pill">
            Back to list
        </a> 
    </div>

</form>
