@model IEnumerable<TheFitnessApp.Models.Exercise>
@* Kopplar vyn till en lista av Exercise *@

@{
    ViewData["Title"] = "Exercises";
}

<div class="container mt-5">

    <h1>Exercises</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">
            Create new exercise
        </a>
    </p>

    <!-- Enkel tabell (skelett) -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @* Data kommer kopplas in senare *@

        </tbody>
    </table>

</div>
